@charset "utf-8";
body {
	overflow:hidden;
	color: #FFFFFF;
}
table,th,td,tr{
	border-collapse:collapse;
}
td{
	border: 2px solid #585753;	
}	
.bgCla{
	position: absolute; 
	top: 26px; 
	left: 56px; 
	width: 1190px; 
	height: 681px; 
	background-image:url(images/detail/bgSmall.png);
}
.picUrlDivCla{
	position: absolute;
	width: 220px;
	height: 310px;
	left: 125px;
	top: 87px;
	/*border: 1px solid #FFF;*/
}
.hdMarkCla{
	background-image: url(images/detail/hd_mark_small.png); 
	width: 119px; 
	height: 115px; 
	position: absolute; 
	top: 71px; 
	left: 246px;
	visibility: hidden;
}
.infoDescCla{
	width: 800px; 
	height: 236px; 
	position: absolute; 
	left: 367px; 
	top: 85px;
}
.gradeImgsCla{
	width: 182px; 
	height: 41px; 
	position: absolute; 
	left: 617px; 
	top: 37px;
}
.gradeImgCla{
	width: 35px;
	height: 34px; 
	background-image: url(images/detail/x_l_small.png); 
	position: absolute;
}
.gradeImg0Cla{
	left: 0px;
}
.gradeImg1Cla{
	left: 30px;
}
.gradeImg2Cla{
	left: 60px;
}
.gradeImg3Cla{
	left: 90px;
}
.gradeImg4Cla{
	left: 120px;
}
.movieNameCla{
	width: 800px; 
	height: 34px; 
	position: absolute; 
	font-size: 28px; 
	color: #FFF;
}
.directorsCla{
	position: absolute; 
	width: 364px; 
	height: 18px; 
	top: 46px; 
	left: 2px; 
	font-size: 18px; 
	color: #888888
}
.directorNameCla{
	height: 100%; 
	width: 55px; 
	position: absolute;
}
.directorCla{
	height: 100%; 
	left: 45px; 
	position: absolute; 
	top: 0px;
	width: 315px; 
	overflow: hidden;	
}
.releaseDatesCla{
	position: absolute;
	width: 215px;
	height: 18px;
	top: 45px; 
	left: 384px; 
	font-size: 18px; 
	color: #888888
}
.releaseDateNameCla{
	height: 18px; 
	width: 90px; 
	position: absolute;
}
.releaseDateCla{
	height: 18px; 
	left: 85px; 
	position: absolute; 
	top: 0px; 
	width: 130px; 
	overflow: hidden;
}
.actorsCla{
	position: absolute; 
	width: 364px; 
	height: 18px;
	top: 71px; 
	left: 2px; 
	font-size: 18px; 
	color: #888888
}
.actorNameCla{
	height: 100%; 
	width: 55px;
	position: absolute;
}
.actorCla{
	height: 100%; 
	left: 45px; 
	position:absolute; 
	top: 0px;
	width: 303px;
	overflow: hidden;
}
.zonesCla{
	position: absolute;
	width: 230px; 
	height: 18px; 
	top: 71px; 
	left: 384px; 
	font-size: 18px; 
	color: #888888
}
.zoneNameCla{
	height: 100%; 
	width: 55px; 
	position: absolute;
}
.zoneCla{
	height: 100%; 
	left: 53px; 
	position: absolute; 
	top: 0px; 
	width: 170px; 
	overflow: hidden;
}
.gradesCla{
	position: absolute;
	width: 174px; 
	height: 22px; 
	top: 71px; 
	left: 620px; 
	font-size: 18px; 
	color: #888888;
}
.gradeNameCla{
	height: 18px; 
	width: 90px; 
	position: absolute; 
	left: 0px;
	top: 4px;
}
.gradeCla{
	height: 100%; 
	left: 85px; 
	position: absolute; 
	top: 0px; 
	width: 84px; 
	overflow: hidden;
	color: #FFCE00;
	font-size: 22px;
}
.typeMoviesCla{
	position: absolute;
	width: 358px; 
	height: 18px; 
	top: 97px; 
	left: 2px; 
	font-size: 18px; 
	color: #888888
}
.typeMovieNameCla{
	height: 100%; 
	width: 55px; 
	position: absolute;
}
.typeMovieCla{
	height: 100%; 
	left: 45px; 
	position: absolute; 
	top: 0px; 
	width: 303px; 
	overflow: hidden;
}
.timelengthsCla{
	position: absolute; 
	width: 225px; 
	height: 18px; 
	top: 97px; 
	left: 384px; 
	font-size: 18px; 
	color: #888888
}
.timelengthNameCla{
	height: 100%; 
	width: 55px;  
	position: absolute;
}
.timelengthCla{
	height: 100%; 
	left: 55px; 
	position: absolute; 
	top: 0px; 
	width: 170px; 
	overflow: hidden;
}
.playCountsCla{
	position: absolute; 
	width: 165px; 
	height: 18px; 
	top: 97px; 
	left: 620px; 
	font-size: 18px; 
	color: #888888
}
.playCountNameCla{
	height: 100%; 
	width: 90px; 
	position: absolute; 
	left: 0px;
}
.playCountCla{
	height: 100%; 
	left: 85px; 
	position: absolute; 
	top: 0px; 
	width: 84px; 
	overflow: hidden;
}
.descInfoLineCla{
	background-image:url(images/detail/up_X_small.png); 
	width: 798px; 
	height: 10px; 
	position: absolute; 
	left: 2px; 
	top: 120px;
}
.descCla{
	position: absolute; 
	width: 775px; 
	height: 90px; 
	top: 141px; 
	left: 2px; 
	font-size: 20px; 
	color: #FFF;
	overflow:hidden;
}
.btnsCla{
	width: 810px; 
	height: 72px; 
	position: absolute; 
	left: 360px; 
	top: 332px;
}
.playBtnCla{
	width: 163px; 
	height: 63px; 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	color: #FFF; 
	text-align: center; 
	font-size: 22px; 
	line-height: 63px; 
}
.playBtnLoseCla{
	background-image:url(images/detail/play_drama_select_small.png);
}
.playBtnFocusCla{
	background-image:url(images/detail/play_drama_selected_small.png);
	z-index: 1;
	visibility: hidden;
}
.freeLimitBtn {
	width: 163px;
    height: 63px;
	left: 170px;
    position: absolute;
    top: 0px;
    color: #FFF;
    text-align: center;
    font-size: 26px;
    line-height: 63px;
	background-image:url(images/detail/free_limit_small.png);
}
.replayBtnCla{
	width: 163px; 
	height: 63px; 
	position: absolute; 
	top: 0px; 
	left: 340px; 
	color: #FFF;
	text-align: center; 
	font-size: 22px; 
	line-height: 63px; 
}
.replayBtnLoseCla{
	background-image:url(images/detail/play_drama_select_small.png);
}
.replayBtnFocusCla{
	background-image:url(images/detail/play_drama_selected_small.png);
	z-index: 1;
	visibility: hidden;
}
.selectEpisodeBtnCla{
	width: 143px; 
	height: 63px; 
	position: absolute; 
	top: 0px; 
	left: 490px; 
	color: #FFF; 
	text-align: center; 
	font-size: 22px; 
	line-height: 63px;
}
.selectEpisodeBtnLoseCla{
	background-image:url(images/detail/selections_select_small.png);
}
.selectEpisodeBtnFocusCla{
	background-image:url(images/detail/selections_selected_small.png);
	z-index: 1;
	visibility: hidden;
}
.addTvBtnCla{
	width: 143px; 
	height: 63px; 
	position: absolute;
	top: 0px; 
	left: 490px;
	color: #FFF; 
	text-align: center;
	font-size: 22px; 
	line-height: 63px;
}
.addTvBtnLoseCla{
	background-image:url(images/detail/drama_select_small.png); 
}
.addTvBtnFocusCla{
	background-image:url(images/detail/drama_selected_small.png); 
	z-index: 1;
	visibility: hidden;
}
.sdOrHdCla{
	position: absolute; 
	left: 640px; 
	width: 160px; 
	height: 60px;
}
.sdOrHdVerticalCla{
	background-image:url(images/detail/cut_off_rule_samll.png); 
	width: 10px; 
	height: 55px;
}
.hdAndSdBtnCla{
	width: 49px;
	height: 60px;
	position: absolute;
	top: 4px;
}
.sdButCla{
	background-image:url(images/detail/sd_select_small.png); 
	left: 24px;
}
.sdButFocusCla{
	background-image:url(images/detail/sd_selected_small.png); 
	left: 24px;
	visibility: hidden;
}
.sdButCurrCla{
	background-image:url(images/detail/sd_checked_small.png); 
	left: 24px;
	visibility: hidden;
}
.hdButCla{
	background-image:url(images/detail/hd_select_small.png);
	left: 87px;
}
.hdButFocusCla{
	background-image:url(images/detail/hd_selected_small.png); 
	left: 87px;
	visibility: hidden;	
}
.hdButCurrCla{
	background-image:url(images/detail/hd_checked_small.png); 
	left: 87px;
	visibility: hidden;	
}
.recCla{
	width: 1045px; 
	height: 258px;
	position: absolute;
	left: 122px; 
	top: 427px;
}
.recUserTipCla{
	position:absolute;
	width: 156px; 
	height: 24px; 
	left: 14px; 
	color:#FFF; 
	font-size: 22px;
}
.recLineCla{
	position:absolute; 
	background-image:url(images/detail/down_X_samll.png); 
	width: 872px;
	height: 10px;
	left: 173px; 
	top: 5px;
}
.recArrowCla{
	width: 28px;
	height: 34px;
	position: absolute;
	top: 108px; 
}
.leftArrowCla{
	background-image:url(images/detail/left_n_small.png); 
	left: 4px;
}
.rightArrowCla{
	background-image:url(images/detail/right_n_small.png); 
	left: 1013px;
}
.recFocusDivBgCla{
	background-image: url(images/detail/recBg_small.png); 
	width: 176px;
	height: 232px;
	-webkit-transition-duration: 200ms; 
	position: absolute; 
	top: 15px; 
	left: 14px; 
	visibility:hidden;
}
.recFocusDivCla{
	width: 134px; 
	height: 182px; 
	top: 35px; 
	left: 32px; 
	position: absolute; 
	-webkit-transition-duration: 200ms; 
	visibility: hidden;
}
.recMovieNameCla{
	background:url(images/detail/movieNameBg.png); 
	line-height: 32px; 
	width: 100%; 
	height: 32px; 
	top: 145px; 
	color:#FFF; 
	font-size: 22px; 
	position: absolute; 
	text-align: center;
}
.recDivCla{
	border: 1px solid #FFF;
	position: absolute;
	width: 118px;
    height: 165px;
	top: 5px;
}
	
.recsCla{
	top: 38px; 
	width: 988px; 
	height: 187px; 
	left: 30px; 
	position: absolute; 
	overflow: hidden;
}
.recCla0{
	left: 10px;
}
.recCla1{
	left: 151px;
}
.recCla2{
	left: 292px;
}
.recCla3{
	left: 433px;
}
.recCla4{
	left: 574px;
}
.recCla5{
	left: 715px;
}
.recCla6{
	left: 856px;
}
.recCla7{
	left: 997px;
}
.episodesCla{
	background-image:url(images/detail/episode_dk_small.png);
	width: 1178px; 
	height: 308px; 
	position: absolute; 
	top: 400px; 
	left: 60px;
	display:none;
}
.selectEpisodeNameCla{
	width: 1068px; 
	height: 30px; 
	position: absolute; 
	top: 20px; 
	left: 59px; 
	color: #FFF; 
	font-size: 24px;
}
.detailEpisodeTabCla{
	position:absolute; 
	left: 62px; 
	top: 70px; 
	color: #FFF; 
	font-size: 22px;
	text-align:center;
	width: 940px;
	height:108px;
	display:none;
}
.detailEpisodeTabTr1Cla{
	width: 107px;
	text-align:center;
}
.detailEpisodeTabTr2Cla{
	width: 104px;
	height: 54px;
	text-align:center;
}
.detailEpisodeFocusCla{
	background-image:url(images/detail/dramae_small.png);
	width: 118px;
	height: 72px; 
	position: absolute; 
	left: 163px;
	top: 65px;
	display: none;
	font-size: 22px; 
	color: #FFF; 
	text-align: center; 
	line-height: 72px; 
		/*-webkit-transition-duration: 200ms;*/
}
.episodesTabCla{
	position:absolute; 
	left: 62px; 
	top: 70px;  
	color: #FFF; 
	font-size: 22px; 
	display: none;
	text-align:center;
	width:940px;
	height: 106px;
}
.episodesTabTd1Cla{
	width: 104px;
	text-align:center;
}
.episodesTabTd2Cla{
	width: 208px;
	height: 53px;
	text-align: center;
}
.episodesFocusCla{
	background-image:url(images/detail/dramaeList_small.png);
	width: 222px; 
	height: 72px;
	position: absolute; 
	left: 163px; 
	top: 64px; 
	font-size: 22px; 
	color: #FFF; 
	text-align: center; 
	line-height: 72px; 
		/*-webkit-transition-duration: 200ms; */
	display: none;
}
.moreFocusCla{
	background-image:url(images/detail/moreFocus_small.png);
	width: 120px;
	height: 130px; 
	left: 57px; 
	top: 65px; 
	color: #FFF; 
	font-size: 22px; 
	text-align: center;  
	position: absolute; 
	display:none;
}
.moreDivCla{
	position: absolute; 
	top: 38px; 
	text-align: center; 
	width: 100%; 
	height: 80px;	
}
.gradeSmallScreenCla{
	font-size: 18px;
}