@charset "utf-8";

/* CSS Document */

body {
	overflow: hidden;
	color: #FFFFFF;
	font-family: "黑体";
}

.recDivCla {
	/*border: 1px solid #FFF;*/
	position: absolute;
	width: 118px;
	height: 165px;
	left: 10px;
}

.recImgCla {
	position: absolute;
	width: 118px;
	height: 165px;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

table,
th,
td,
tr {
	border-collapse: collapse;
}

td {
	border: 2px solid#585753;
}

.payBtnCla {
	width: 164px;
	height: 68px;
	position: absolute;
	top: 201px;
	color: #FFF;
	text-align: center;
	font-size: 26px;
	line-height: 70px;
	margin: 0px;
	background-position: center;
}

.payBtnNoFocusCla {
	background-image: url(images/detail/pay_select.png);
}

.payBtnGetFocusCla {
	background-image: url(images/detail/pay_selected.png);
}

.hdAndSdBtnCla {
	width: 59px;
	height: 71px;
	position: absolute;
	top: 7px;
}

.recArrowCla {
	width: 33px;
	height: 41px;
	position: absolute;
	top: 123px;
}

.bgCla {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 720px;
	background-image: url(images/detail/newBGBig.png);
}

.picUrlDivCla {
	position: absolute;
	width: 245px;
	height: 344px;
	left: 63px;
	top: 45px;
	/*border: 1px solid #FFF;*/
}

.picImgCla {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
}

.hdMarkCla {
	background-image: url(images/detail/hd_mark.png);
	width: 129px;
	height: 125px;
	position: absolute;
	top: 29px;
	left: 199px;
	visibility: hidden;
}

.infoDescCla {
	width: 220px;
	height: 236px;
	position: absolute;
	left: 75px;
	top: 410px;
}

.gradeImgsCla {
	width: 182px;
	height: 41px;
	position: absolute;
	left: 40px;
	top: 37px;
}

.gradeImgCla {
	width: 35px;
	height: 34px;
	background-image: url(images/detail/x_l_small.png);
	position: absolute;
}

.gradeImg0Cla {
	left: 0px;
}

.gradeImg1Cla {
	left: 30px;
}

.gradeImg2Cla {
	left: 60px;
}

.gradeImg3Cla {
	left: 90px;
}

.gradeImg4Cla {
	left: 120px;
}

.movieNameCla {
	width: 220px;
	height: 34px;
	position: absolute;
	font-size: 28px;
	color: #C8C8C8;
	text-align: center;
	left: 0px;
	top: 0px;
}

.gradesCla {
	position: absolute;
	width: 174px;
	height: 22px;
	top: 71px;
	left: 40px;
	font-size: 20px;
	color: #888888;
}

.gradeNameCla {
	height: 18px;
	width: 110px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.gradeCla {
	height: 100%;
	left: 105px;
	position: absolute;
	top: 0px;
	width: 84px;
	overflow: hidden;
	color: #FFCE00;
	font-size: 20px;
}

.playCountsCla {
	position: absolute;
	width: 165px;
	height: 22px;
	top: 101px;
	left: 40px;
	font-size: 20px;
	color: #888888
}

.playCountNameCla {
	height: 100%;
	width: 110px;
	position: absolute;
	left: 0px;
}

.playCountCla {
	height: 100%;
	left: 105px;
	position: absolute;
	top: 0px;
	width: 84px;
	overflow: hidden;
}

.descInfoLineCla {
	background-image: url(images/detail/up_X.png);
	width: 901px;
	height: 17px;
	position: absolute;
	left: -2px;
	top: 137px;
}

.descCla {
	position: absolute;
	width: 650px;
	height: 50px;
	top: 40px;
	left: 370px;
	font-size: 22px;
	color: #FFF;
	overflow: hidden;
}

.btnsCla {
	width: 220px;
	height: 72px;
	position: absolute;
	left: 110px;
	top: 420px;
}

.playBtnCla {
	width: 188px;
	height: 76px;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFF;
	text-align: center;
	font-size: 26px;
	line-height: 76px;
}

.playBtnLoseCla {
	background-image: url(images/detail/play_drama_select.png);
}

.playBtnFocusCla {
	background-image: url(images/detail/play_drama_selected.png);
	z-index: 1;
	visibility: hidden;
}

.replayBtnCla {
	width: 188px;
	height: 76px;
	position: absolute;
	top: 0px;
	left: 190px;
	color: #FFF;
	text-align: center;
	font-size: 26px;
	line-height: 76px;
}

.replayBtnLoseCla {
	background-image: url(images/detail/play_drama_select.png);
}

.replayBtnFocusCla {
	background-image: url(images/detail/play_drama_selected.png);
	z-index: 1;
	visibility: hidden;
}

.selectEpisodeBtnCla {
	width: 165px;
	height: 76px;
	position: absolute;
	top: 0px;
	left: 381px;
	color: #FFF;
	text-align: center;
	font-size: 26px;
	line-height: 76px;
}

.selectEpisodeBtnLoseCla {
	background-image: url(images/detail/selections_select.png);
}

.selectEpisodeBtnFocusCla {
	background-image: url(images/detail/selections_selected.png);
	z-index: 1;
	visibility: hidden;
}

.addTvBtnCla {
	width: 164px;
	height: 68px;
	position: absolute;
	top: 111px;
	color: #FFF;
	text-align: center;
	font-size: 26px;
	line-height: 70px;
}

.addTvBtnLoseCla {
	background-image: url(images/detail/drama_select.png);
}

.addTvBtnFocusCla {
	background-image: url(images/detail/drama_selected.png);
	z-index: 1;
	visibility: hidden;
}

.sdOrHdCla {
	position: absolute;
	top: 170px;
	left: 0px;
	width: 160px;
	height: 60px;
}

.sdOrHdVerticalCla {
	background - image: url(images/detail/cut_off_rule.png);
	width: 13px;
	height: 65px;
	top: 2px;
}

.sdButCla {
	background-image: url(images/detail/sd_select.png);
	left: 24px;
}

.sdButFocusCla {
	background-image: url(images/detail/sd_selected.png);
	left: 24px;
	visibility: hidden;
}

.sdButCurrCla {
	background-image: url(images/detail/sd_checked.png);
	left: 24px;
	visibility: hidden;
}

.hdButCla {
	background-image: url(images/detail/hd_select.png);
	left: 90px;
}

.hdButFocusCla {
	background-image: url(images/detail/hd_selected.png);
	left: 90px;
	visibility: hidden;
}

.hdButCurrCla {
	background-image: url(images/detail/hd_checked.png);
	left: 90px;
	visibility: hidden;
}

.recCla {
	width: 228px;
	height: 681px;
	position: absolute;
	left: 1020px;
	top: 40px;
}

.recUserTipCla {
	position: absolute;
	width: 182px;
	height: 26px;
	left: 50px;
	color: #FFF;
	font-size: 26px;
}

.recLineCla {
	position: absolute;
	background-image: url(images/detail/down_X.png);
	width: 973px;
	height: 17px;
	left: 198px;
	top: 5px;
}

.leftArrowCla {
	background-image: url(images/detail/left_n.png);
	left: 4px;
}

.rightArrowCla {
	background-image: url(images/detail/right_n.png);
	left: 1127px;
}

.recFocusDivBgCla {
	background-image: url(images/detail/recBg_small.png);
	width: 176px;
	height: 232px;
	-webkit-transition-duration: 200ms;
	position: absolute;
	top: 30px;
	left: 40px;
	visibility: hidden;
}

.recsCla {
	top: 40px;
	width: 150px;
	height: 590px;
	left: 60px;
	position: absolute;
	overflow: hidden;
}

.recCla0 {
	top: 20px;
}

.recCla1 {
	top: 210px;
}

.recCla2 {
	top: 400px;
}

.recCla3 {
	top: 590px;
}

.recMovieNameCla {
	background: url(images/detail/movieNameBg.png);
	line-height: 32px;
	width: 100%;
	height: 32px;
	top: 150px;
	color: #FFF;
	font-size: 26px;
	position: absolute;
	text-align: center;
}

.recFocusDivCla {
	width: 134px;
	height: 189px;
	top: 33px;
	left: 60px;
	position: absolute;
	-webkit-transition-duration: 200ms;
	visibility: hidden;
}

.episodesCla {
	background-image: url(images/detail/episode_dk.png);
	width: 1280px;
	height: 321px;
	position: absolute;
	top: 399px;
	left: 0px;
	display: none;
}

.selectEpisodeNameCla {
	width: 1098px;
	height: 30px;
	position: absolute;
	top: 40px;
	left: 79px;
	color: #FFF;
	font-size: 28px;
}

.detailEpisodeTabCla {
	position: absolute;
	left: 80px;
	top: 95px;
	color: #FFF;
	font-size: 26px;
	display: none;
	text-align: center;
	width: 1048px;
	height: 118px;
}

.detailEpisodeTabTr1Cla {
	width: 119px;
	text-align: center;
}

.detailEpisodeTabTr2Cla {
	width: 116px;
	height: 59px;
	text-align: center;
}

.detailEpisodeFocusCla {
	background-image: url(images/detail/dramae.png);
	width: 135px;
	height: 82px;
	position: absolute;
	left: 191px;
	top: 88px;
	display: none;
	font-size: 26px;
	color: #FFF;
	text-align: center;
	line-height: 82px;
	/*-webkit-transition-duration: 200ms;*/
}

.episodesTabCla {
	position: absolute;
	left: 80px;
	top: 95px;
	color: #FFF;
	font-size: 26px;
	display: none;
	text-align: center;
	width: 1049px;
	height: 120px;
}

.episodesTabTd1Cla {
	width: 117px;
	text-align: center;
}

.episodesTabTd2Cla {
	width: 233px;
	height: 59px;
	text-align: center;
}

.episodesFocusCla {
	background-image: url(images/detail/dramaeList.png);
	width: 251px;
	height: 82px;
	position: absolute;
	left: 191px;
	top: 88px;
	font-size: 26px;
	color: #FFF;
	text-align: center;
	line-height: 82px;
	/*-webkit-transition-duration: 200ms;*/
	display: none;
}

.moreFocusCla {
	background-image: url(images/detail/moreFocus.png);
	width: 137px;
	height: 135px;
	left: 73px;
	top: 88px;
	color: #FFF;
	font-size: 26px;
	text-align: center;
	position: absolute;
	display: none;
}

.moreDivCla {
	position: absolute;
	top: 44px;
	height: 60px;
	text-align: center;
	width: 100%;
}

.scrollBgCla {
	width: 19px;
	position: absolute;
	left: 1030px;
	top: 160px;
	height: 470px;
}

.scrollFocusCla {
	width: 19px;
	position: absolute;
	left: 1030px;
	top: 160px;
}

.scrollBg1Cla {
	height: 470px;
}

.descLineCla {
	position: absolute;
	background-image: url(images/detail/content_line.png);
	width: 704px;
	height: 9px;
	top: 140px;
	left: 330px;
}


/************************/

.movieListCla {
	position: absolute;
	top: 160px;
	left: 372px;
	width: 700px;
	height: 517px;
	overflow: hidden;
}

.oneMovieDivCla {
	position: absolute;
	width: 700px
}

.rowCellCla {
	position: absolute;
	width: 611px;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 22px;
	text-align: left
}
.rowCellClaVip {
	position: absolute;
	width: 611px;
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 22px;
	text-align: left;
	background-image: url(images/detail/VIP-ICON.png);
	background-position: right;
	background-repeat: no-repeat;
}

.oneMovieFocusCla {
	position: absolute;
	background-image: url(images/detail/newProgramBtn_Selected.png);
	width: 611px;
	height: 40px;
	z-index: 1;
	top: 160px;
	left: 372px;
	visibility: hidden;
}

.oneMovieFocusClaVip {
	position: absolute;
	background-image: url(images/detail/newProgramBtn_Selected_Vip.png);
	width: 611px;
	height: 40px;
	z-index: 1;
	top: 160px;
	left: 372px;
	visibility: hidden;
}
.oneMovieNameCla {
	position: absolute;
	width: 606px;
	height: 40px;
	line-height: 40px;
	color: white;
	font-size: 22px;
	text-align: left;
	left: 2px
}

.moveDivCla0 {
	top: 0px
}

.moveDivCla1 {
	top: 47px
}

.moveDivCla2 {
	top: 94px
}

.moveDivCla3 {
	top: 141px
}

.moveDivCla4 {
	top: 188px
}

.moveDivCla5 {
	top: 235px;
}

.moveDivCla6 {
	top: 282px;
}

.moveDivCla7 {
	top: 329px;
}

.moveDivCla8 {
	top: 376px;
}

.moveDivCla9 {
	top: 423px;
}

.moveDivCla10 {
	top: 470px;
}

.moveDivCla11 {
	top: 517px;
}

.movieLineCla {
	position: absolute;
	background-image: url(images/detail/movieLine.png);
	width: 689px;
	height: 3px;
	left: 330px;
}

.movieLineCla0 {
	top: 197px
}

.movieLineCla1 {
	top: 244px
}

.movieLineCla2 {
	top: 291px
}

.movieLineCla3 {
	top: 338px
}

.movieLineCla4 {
	top: 385px
}

.movieLineCla5 {
	top: 432px
}

.movieLineCla6 {
	top: 479px
}

.movieLineCla7 {
	top: 526px
}

.movieLineCla8 {
	top: 573px
}

.movieLineCla9 {
	top: 620px
}